<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments :: navbar}"></div>

    <a class="btn btn-primary" th:href="@{/order/form}" role="button">Register new Order</a>

    <h1>Order list</h1>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a th:href="@{/order/list(sortBy='id', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    #
                    <span th:text="${sortBy == 'id' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">
                <a th:href="@{/order/list(sortBy='orderDate', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    Order Date
                    <span th:text="${sortBy == 'orderDate' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">Product</th>
            <th scope="col">Seller</th>
            <th scope="col">Customer</th>
            <th scope="col">
                <a th:href="@{/order/list(sortBy='quantity', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    Quantity
                    <span th:text="${sortBy == 'quantity' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">
                <a th:href="@{/order/list(sortBy='totalPrice', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    Total Sold
                    <span th:text="${sortBy == 'totalPrice' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="order : ${orders}">
            <th scope="row" data-th-text="${order.id}"></th>
            <td data-th-text="${#temporals.format(order.orderDate, 'dd-MM-yyyy')}"></td>
            <td data-th-text="${order.product}"></td>
            <td data-th-text="${order.seller}"></td>
            <td data-th-text="${order.customer}"></td>
            <td data-th-text="${order.quantity}"></td>
            <td data-th-text="${order.totalPrice}"></td>
            <td>
                <a th:href="@{/order/form/{id}(id=${order.id})}"><i class="bi bi-pencil"></i></a>
                <a th:href="@{/order/delete/{id}(id=${order.id})}"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>