<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments :: navbar}"></div>

    <form method="POST" action="/product/create" th:object="${product}">
        <input type="hidden" name="id" th:value="${product.id}">
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input name="name" class="form-control" id="inputName" aria-describedby="nameHelp" th:value="${product.name}" required>
            <div id="nameHelp" class="form-text">Insert product's name.</div>
        </div>
        <div class="mb-3">
            <label for="inputSku" class="form-label">SKU</label>
            <input name="sku" class="form-control" id="inputSku" aria-describedby="skuHelp" th:value="${product.sku}" required>
            <div id="skuHelp" class="form-text">Insert product's sku.</div>
        </div>
        <div class="mb-3">
            <label for="inputPrice" class="form-label">Price</label>
            <input name="price" class="form-control" id="inputPrice" aria-describedby="priceHelp" th:value="${product.price}" required>
            <div th:if="${priceError}" th:text="${priceError}" class="text-danger"></div>            
            <div id="priceHelp" class="form-text">Insert product's price.</div>
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="inputDescription" rows="3">[[${product.description}]]</textarea>
            <div id="descriptionHelp" class="form-text">Insert product's description.</div>
        </div>
         <div class="mb-3">
            <label for="inputSupplier" class="form-label">Supplier</label>
            <select name="supplier.id" class="form-control" id="supplier" required>
                <option value="" disabled selected>Select a Supplier</option>
                <option 
                    th:each="supplier: ${suppliers}"
                    th:value="${supplier.id}"
                    th:text="${supplier.name}"
                    th:selected="${product.supplier != null} ? ${supplier.id} == ${product.supplier.id} : false">

                </option>
            </select>
            <div id="supplierHelp" class="form-text">Select a Supplier.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>