<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments :: navbar}"></div>

    <a class="btn btn-primary" th:href="@{/product/form}" role="button">Register new Product</a>

    <h1>Product list</h1>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a th:href="@{/product/list(sortBy='id', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    #
                    <span th:text="${sortBy == 'id' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">
                <a th:href="@{/product/list(sortBy='name', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    Name
                    <span th:text="${sortBy == 'name' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">
                <a th:href="@{/product/list(sortBy='sku', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    SKU
                    <span th:text="${sortBy == 'sku' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">
                <a th:href="@{/product/list(sortBy='price', direction=${direction == 'asc' ? 'desc' : 'asc'})}">
                    Price
                    <span th:text="${sortBy == 'price' ? (direction == 'asc' ? '↑' : '↓') : ''}"></span>
                </a>
            </th>
            <th scope="col">Supplier</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="product : ${products}">
            <th scope="row" data-th-text="${product.id}"></th>
            <td data-th-text="${product.name}"></td>
            <td data-th-text="${product.sku}"></td>
            <td data-th-text="${product.price}"></td>
            <td data-th-text="${product.supplier}"></td>
            <td data-th-text="${product.description}"></td>
            <td>
                <a th:href="@{/product/form/{id}(id=${product.id})}"><i class="bi bi-pencil"></i></a>
                <a th:href="@{/product/delete/{id}(id=${product.id})}"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>