<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Supply Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments :: navbar}"></div>

    <form method="POST" th:action="@{/supply/create}" th:object="${supply}">
        <input type="hidden" name="id" th:value="${supply.id}">
        <input type="hidden" name="created" th:value="${supply.created}">
        <input type="hidden" name="createdBy" th:value="${supply.createdBy}">
        <div class="mb-3">
            <label for="inputProduct" class="form-label">Product</label>
            <select name="product.id" class="form-control" id="inputProduct" required>
                <option value="" disabled selected>Select a Product</option>
                <option
                    th:each="product: ${products}"
                    th:value="${product.id}"
                    th:text="${product.name}"
                    th:attr="data-price=${product.price}"
                    th:selected="${supply.product != null} ? ${product.id} == ${supply.product.id} : false">
                </option>
            </select>
            <div th:if="${productError}" th:text="${productError}" class="text-danger"></div>
            <div id="productHelp" class="form-text">Select a Product.</div>
        </div>

        <div class="mb-3">
            <label for="inputQuantity" class="form-label">Quantity</label>
            <input type="number" name="quantity" class="form-control" id="inputQuantity" aria-describedby="quantityHelp" th:value="${supply.quantity}" required>
            <div id="quantityHelp" class="form-text">Insert supply's quantity.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>